.gradient-color {
    background: #00f0ff;
    background: -moz-linear-gradient(30deg, #00f0ff, #ff00f6);
    background: -webkit-linear-gradient(30deg, #00f0ff, #ff00f6);
    background: linear-gradient(30deg, #00f0ff, #ff00f6);
}
.reflection-text:not(.reflection-text-white)::after {
    background: url(../../images/line-break/line-break-20.svg) no-repeat;
}